body{
    background-color: gray;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container h1{
    text-align: center;
    background-color: #333;
    /* position: fixed; */
    color: white;
    position: fixed;
     top: 0;
     overflow: hidden;
     /* left: 0;
     right:0; */
     width: 720px;
     /* z-index:10; */
}
.content{
    font-size: 0;
    display:block;
    background-color: white;
    padding:37px 0;
    height: 1290px;
}
.content .sidebar{
    background-color: #aaa;
    width: 180px;
    font-size: 16px;
    float: left;
    vertical-align: top;
    height: 1290px;
}
.content .sidebar h2{
    margin-inline-start: 14px;
    
}
.content .sidebar ul{
    margin-inline-start: 55px;
}
.content .background{
    width: 540px;
    vertical-align: top;
    float: left;
    background-color: white;
    font-size: 16px;
}
.content .background h2{
    margin-inline-start: 14px;
    
}
.content .background p{
    margin-inline-start: 14px;
    
}
.content .background ul{
    margin-inline-start: 60px;
}
hr{
    margin: 16px;
}
.clearfix{
    clear: both;
}
footer{
    text-align: center;
    background-color: #333;
    color:white;
    position: fixed;
    bottom: 0;
    width: 720px;
   
}
footer a{
    color:white;
}